body{
    background-color:#9c9998;
}
/*h1{
    color: red;
}
h2{
    color: green;
}
h3{
    color: blue;
}
p{
    color: blueviolet;
}
#A{
    color: red;
}
#W{
    color: green;
}
#X{
    color: pink;
}
#R{
    color: blue;
}*/
.A{
    color: red;
}
.B{
    color: blue;
}
.E{
    color: red;
}
.D{
    color: yellow;
}